<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.general.mapper.CoursePackageDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.general.model.CoursePackageDetailModel">
        <id column="id" property="id" />
        <result column="course_package_detail_id" property="coursePackageDetailId" />
        <result column="package_type" property="packageType" />
        <result column="package_id" property="packageId" />
        <result column="exchange_type" property="exchangeType" />
        <result column="course_id" property="courseId" />
        <result column="course_title" property="courseTitle" />
        <result column="category_id" property="categoryId" />
        <result column="category_title" property="categoryTitle" />
        <result column="package_lesson_id" property="packageLessonId" />
        <result column="lesson_create_state" property="lessonCreateState" />
        <result column="create_time" property="createTime" />
        <result column="disabled" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_package_detail_id, package_type, package_id, exchange_type, course_id, course_title, category_id, category_title, package_lesson_id, lesson_create_state, create_time, disabled
    </sql>

</mapper>
