<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.general.mapper.MarketingCodePackageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.general.model.MarketingCodePackageModel">
        <id column="id" property="id" />
        <result column="code_package_id" property="codePackageId" />
        <result column="code_package_name" property="codePackageName" />
        <result column="exchange_type" property="exchangeType" />
        <result column="course_id" property="courseId" />
        <result column="course_title" property="courseTitle" />
        <result column="exchange_all_lesson_count" property="exchangeAllLessonCount" />
        <result column="exchange_lesson_count" property="exchangeLessonCount" />
        <result column="send_channel" property="sendChannel" />
        <result column="send_count" property="sendCount" />
        <result column="use_count" property="useCount" />
        <result column="start_time" property="startTime" />
        <result column="expire_time" property="expireTime" />
        <result column="admin_name" property="adminName" />
        <result column="code_package_state" property="codePackageState" />
        <result column="create_time" property="createTime" />
        <result column="disabled" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code_package_id, code_package_name, exchange_type, course_id, course_title, exchange_all_lesson_count, exchange_lesson_count, send_channel, send_count, use_count, start_time, expire_time, admin_name, code_package_state, create_time, disabled
    </sql>

</mapper>
