<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.general.mapper.CourseOptionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.general.model.CourseOptionModel">
        <id column="id" property="id" />
        <result column="option_unique" property="optionUnique" />
        <result column="lesson_unique" property="lessonUnique" />
        <result column="question_unique" property="questionUnique" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_delete" property="isDelete" />
        <result column="option_no" property="optionNo" />
        <result column="option_url" property="optionUrl" />
        <result column="is_correct" property="isCorrect" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, option_unique, lesson_unique, question_unique, create_date, modify_date, is_delete, option_no, option_url, is_correct
    </sql>

</mapper>
