<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.general.mapper.LectureDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.general.model.LectureModel">
        <id column="id" property="id" />
        <result column="lecture_unique" property="lectureUnique" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_delete" property="isDelete" />
        <result column="title" property="title" />
        <result column="cover_url" property="coverUrl" />
        <result column="detail_url" property="detailUrl" />
        <result column="original_price" property="originalPrice" />
        <result column="current_price" property="currentPrice" />
        <result column="now_lesson_count" property="nowLessonCount" />
        <result column="all_lesson_count" property="allLessonCount" />
        <result column="sequence" property="sequence" />
        <result column="is_publish" property="isPublish" />
        <result column="is_free" property="isFree" />
        <result column="update_time" property="updateTime" />
        <result column="app_id" property="appId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lecture_unique, create_date, modify_date, is_delete, title, cover_url, detail_url, original_price, current_price, now_lesson_count, all_lesson_count, sequence, is_publish, is_free, update_time, app_id
    </sql>

</mapper>
