<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.general.mapper.MarketingCodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.general.model.MarketingCodeModel">
        <id column="id" property="id" />
        <result column="code_id" property="codeId" />
        <result column="code_name" property="codeName" />
        <result column="code_package_id" property="codePackageId" />
        <result column="code_state" property="codeState" />
        <result column="start_time" property="startTime" />
        <result column="expire_time" property="expireTime" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="disabled" property="disabled" />
        <result column="send_channel" property="sendChannel" />
        <result column="exchange_time" property="exchangeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code_id, code_name, code_package_id, code_state, start_time, expire_time, user_id, create_time, disabled, send_channel, exchange_time
    </sql>

</mapper>
