<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.BannerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.BannerModel">
        <id column="id" property="id" />
        <result column="banner_unique" property="bannerUnique" />
        <result column="banner_type" property="bannerType" />
        <result column="sequence" property="sequence" />
        <result column="banner_url" property="bannerUrl" />
        <result column="item_type" property="itemType" />
        <result column="item_content" property="itemContent" />
        <result column="is_publish" property="isPublish" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, banner_unique, banner_type, sequence, banner_url, item_type, item_content, is_publish, create_date, modify_date, is_delete
    </sql>

</mapper>
