<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.CourseChainCardDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.CourseChainCardModel">
        <id column="id" property="id" />
        <result column="chain_card_unique" property="chainCardUnique" />
        <result column="lesson_unique" property="lessonUnique" />
        <result column="chain_node_unique" property="chainNodeUnique" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_delete" property="isDelete" />
        <result column="tips_music_url" property="tipsMusicUrl" />
        <result column="start_music_url" property="startMusicUrl" />
        <result column="card_image_url" property="cardImageUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chain_card_unique, lesson_unique, chain_node_unique, create_date, modify_date, is_delete, tips_music_url, start_music_url, card_image_url
    </sql>

</mapper>
