<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.CourseClickCardDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.CourseClickCardModel">
        <id column="id" property="id" />
        <result column="click_card_unique" property="clickCardUnique" />
        <result column="lesson_unique" property="lessonUnique" />
        <result column="click_node_unique" property="clickNodeUnique" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_delete" property="isDelete" />
        <result column="image_url" property="imageUrl" />
        <result column="times" property="times" />
        <result column="card_type" property="cardType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, click_card_unique, lesson_unique, click_node_unique, create_date, modify_date, is_delete, image_url, times, card_type
    </sql>

</mapper>
