<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.IntuitiveLikeNodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.IntuitiveLikeNodeModel">
        <id column="id" property="id" />
        <result column="mu" property="mu" />
        <result column="answer_show_time" property="answerShowTime" />
        <result column="intuitive_type" property="intuitiveType" />
        <result column="background_unique" property="backgroundUnique" />
        <result column="show_begin_url" property="showBeginUrl" />
        <result column="show_end_url" property="showEndUrl" />
        <result column="answer_begin_url" property="answerBeginUrl" />
        <result column="answer_end_url" property="answerEndUrl" />
        <result column="intuitive_preview_time" property="intuitivePreviewTime" />
        <result column="intuitive_show_time" property="intuitiveShowTime" />
        <result column="answer_time" property="answerTime" />
        <result column="answer_judge_time" property="answerJudgeTime" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mu, answer_show_time, intuitive_type, background_unique, show_begin_url, show_end_url, answer_begin_url, answer_end_url, intuitive_preview_time, intuitive_show_time, answer_time, answer_judge_time, create_time, modify_time, is_delete, version
    </sql>

</mapper>
