<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.IntuitiveLikeAnswerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.IntuitiveLikeAnswerModel">
        <id column="id" property="id" />
        <result column="mu" property="mu" />
        <result column="intuitive_like_unique" property="intuitiveLikeUnique" />
        <result column="intuitive_type" property="intuitiveType" />
        <result column="answer_number" property="answerNumber" />
        <result column="answer_url" property="answerUrl" />
        <result column="answer_group" property="answerGroup" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mu, intuitive_like_unique, intuitive_type, answer_number, answer_url, answer_group, create_time, modify_time, is_delete, version
    </sql>

</mapper>
