<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.MusicMenuRTitleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.MusicMenuRTitleModel">
        <id column="id" property="id" />
        <result column="old_title" property="oldTitle" />
        <result column="new_title" property="newTitle" />
        <result column="new_album_id" property="newAlbumId" />
        <result column="is_execute" property="isExecute" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, old_title, new_title, new_album_id, is_execute
    </sql>

</mapper>
