<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.OrderDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.OrderDetailModel">
        <id column="id" property="id" />
        <result column="order_detail_id" property="orderDetailId" />
        <result column="order_id" property="orderId" />
        <result column="package_type" property="packageType" />
        <result column="package_id" property="packageId" />
        <result column="exchange_type" property="exchangeType" />
        <result column="course_id" property="courseId" />
        <result column="course_title" property="courseTitle" />
        <result column="category_id" property="categoryId" />
        <result column="category_title" property="categoryTitle" />
        <result column="user_id" property="userId" />
        <result column="lesson_id" property="lessonId" />
        <result column="lesson_create_state" property="lessonCreateState" />
        <result column="create_time" property="createTime" />
        <result column="disabled" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_detail_id, order_id, package_type, package_id, exchange_type, course_id, course_title, category_id, category_title, user_id, lesson_id, lesson_create_state, create_time, disabled
    </sql>

</mapper>
