<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.OrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.OrderModel">
        <id column="id" property="id" />
        <result column="order_unique" property="orderUnique" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_delete" property="isDelete" />
        <result column="order_code" property="orderCode" />
        <result column="platform_type" property="platformType" />
        <result column="transaction_id" property="transactionId" />
        <result column="user_unique" property="userUnique" />
        <result column="item_type" property="itemType" />
        <result column="item_unique" property="itemUnique" />
        <result column="item_title" property="itemTitle" />
        <result column="item_cover" property="itemCover" />
        <result column="original_price" property="originalPrice" />
        <result column="current_price" property="currentPrice" />
        <result column="cost" property="cost" />
        <result column="have_material" property="haveMaterial" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="trade_id" property="tradeId" />
        <result column="pay_way" property="payWay" />
        <result column="pay_time" property="payTime" />
        <result column="state" property="state" />
        <result column="package_id" property="packageId" />
        <result column="app_id" property="appId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_unique, create_date, modify_date, is_delete, order_code, platform_type, transaction_id, user_unique, item_type, item_unique, item_title, item_cover, original_price, current_price, cost, have_material, receiver_name, receiver_phone, receiver_address, trade_id, pay_way, pay_time, state, package_id, app_id
    </sql>

</mapper>
