<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.SalesDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.SalesModel">
        <id column="id" property="id" />
        <result column="m_unique" property="mUnique" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
        <result column="area" property="area" />
        <result column="region" property="region" />
        <result column="center_name" property="centerName" />
        <result column="employee_name" property="employeeName" />
        <result column="position" property="position" />
        <result column="phone" property="phone" />
        <result column="sales_code" property="salesCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, m_unique, create_time, modify_time, is_delete, version, area, region, center_name, employee_name, position, phone, sales_code
    </sql>

</mapper>
