<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.SkAppCustomerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.SkAppCustomerModel">
        <id column="userid" property="userid" />
        <result column="star_time" property="starTime" />
        <result column="star" property="star" />
        <result column="points" property="points" />
        <result column="star_days" property="starDays" />
        <result column="thirdid" property="thirdid" />
        <result column="userid_km" property="useridKm" />
        <result column="username" property="username" />
        <result column="openid" property="openid" />
        <result column="eusername" property="eusername" />
        <result column="password" property="password" />
        <result column="predicted" property="predicted" />
        <result column="mm_status" property="mmStatus" />
        <result column="customername" property="customername" />
        <result column="area" property="area" />
        <result column="smallname" property="smallname" />
        <result column="sex" property="sex" />
        <result column="status" property="status" />
        <result column="birthday" property="birthday" />
        <result column="mtel" property="mtel" />
        <result column="createtime" property="createtime" />
        <result column="modifytime" property="modifytime" />
        <result column="statustime" property="statustime" />
        <result column="isdel" property="isdel" />
        <result column="tracktime" property="tracktime" />
        <result column="contact" property="contact" />
        <result column="photoname" property="photoname" />
        <result column="schoolid" property="schoolid" />
        <result column="schoolname" property="schoolname" />
        <result column="staffid" property="staffid" />
        <result column="is_teacher" property="isTeacher" />
        <result column="is_vip" property="isVip" />
        <result column="integral" property="integral" />
        <result column="source" property="source" />
        <result column="unionid" property="unionid" />
        <result column="course_member" property="courseMember" />
        <result column="join_time" property="joinTime" />
        <result column="sync_skim" property="syncSkim" />
        <result column="old_user" property="oldUser" />
        <result column="coin" property="coin" />
        <result column="x_openid" property="xOpenid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, star_time, star, points, star_days, thirdid, userid_km, username, openid, eusername, password, predicted, mm_status, customername, area, smallname, sex, status, birthday, mtel, createtime, modifytime, statustime, isdel, tracktime, contact, photoname, schoolid, schoolname, staffid, is_teacher, is_vip, integral, source, unionid, course_member, join_time, sync_skim, old_user, coin, x_openid
    </sql>

</mapper>
