<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.SkAppPayInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.SkAppPayInfoModel">
        <id column="id" property="id" />
        <result column="addtime" property="addtime" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="source_type" property="sourceType" />
        <result column="statues" property="statues" />
        <result column="mobile" property="mobile" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="order_money" property="orderMoney" />
        <result column="back_money" property="backMoney" />
        <result column="actual_money" property="actualMoney" />
        <result column="old_id" property="oldId" />
        <result column="userid" property="userid" />
        <result column="prepay_id" property="prepayId" />
        <result column="mark" property="mark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, addtime, out_trade_no, source_type, statues, mobile, title, type, order_money, back_money, actual_money, old_id, userid, prepay_id, mark
    </sql>

</mapper>
