<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.SkAppPlayOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.SkAppPlayOrderModel">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="openid" property="openid" />
        <result column="total_fee" property="totalFee" />
        <result column="play_id" property="playId" />
        <result column="source_type" property="sourceType" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="time_end" property="timeEnd" />
        <result column="addtime" property="addtime" />
        <result column="add_info" property="addInfo" />
        <result column="record_status" property="recordStatus" />
        <result column="is_group" property="isGroup" />
        <result column="prepay_id" property="prepayId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, openid, total_fee, play_id, source_type, out_trade_no, time_end, addtime, add_info, record_status, is_group, prepay_id
    </sql>

</mapper>
