<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.TpiBannerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.TpiBannerModel">
        <id column="id" property="id" />
        <result column="m_unique" property="mUnique" />
        <result column="image_url" property="imageUrl" />
        <result column="image_type" property="imageType" />
        <result column="parent_id" property="parentId" />
        <result column="sequence" property="sequence" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, m_unique, image_url, image_type, parent_id, sequence, create_time, modify_time, is_delete, version
    </sql>

</mapper>
