<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.TpiIosReceiptsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.TpiIosReceiptsModel">
        <id column="id" property="id" />
        <result column="m_unique" property="mUnique" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="receipt_data" property="receiptData" />
        <result column="receipt_state" property="receiptState" />
        <result column="receipt_type" property="receiptType" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, m_unique, order_id, user_id, receipt_data, receipt_state, receipt_type, create_time, modify_time, is_delete, version
    </sql>

</mapper>
