<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.TpiVipManageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.TpiVipManageModel">
        <id column="id" property="id" />
        <result column="m_unique" property="mUnique" />
        <result column="available_days" property="availableDays" />
        <result column="title" property="title" />
        <result column="original_price" property="originalPrice" />
        <result column="current_price" property="currentPrice" />
        <result column="vip_type" property="vipType" />
        <result column="vip_state" property="vipState" />
        <result column="publish_state" property="publishState" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
        <result column="user_type" property="userType" />
        <result column="app_id" property="appId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, m_unique, available_days, title, original_price, current_price, vip_type, vip_state, publish_state, create_time, modify_time, is_delete, version, user_type, app_id
    </sql>

</mapper>
