<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.UserModel">
        <id column="id" property="id" />
        <result column="user_unique" property="userUnique" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="tpi_open_id" property="tpiOpenId" />
        <result column="tpi_union_id" property="tpiUnionId" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="profile_photo" property="profilePhoto" />
        <result column="name" property="name" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="role" property="role" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="address" property="address" />
        <result column="register_date" property="registerDate" />
        <result column="last_login_date" property="lastLoginDate" />
        <result column="is_vip" property="isVip" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_unique, open_id, union_id, tpi_open_id, tpi_union_id, phone, password, profile_photo, name, birthday, sex, role, province, city, district, address, register_date, last_login_date, is_vip
    </sql>

</mapper>
