<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.springboot.tpi.mapper.YouzanSendSmsFailRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.evan.springboot.tpi.model.YouzanSendSmsFailRecordModel">
        <id column="id" property="id" />
        <result column="mu" property="mu" />
        <result column="title" property="title" />
        <result column="phone" property="phone" />
        <result column="order_record_id" property="orderRecordId" />
        <result column="send_state" property="sendState" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mu, title, phone, order_record_id, send_state, create_time, modify_time, is_delete, version
    </sql>

</mapper>
